<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495621406401-0ug8onhlrrh629bai17tpj73h691blm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495621406401-0ug8onhlrrh629bai17tpj73h691blm6</string>
	<key>API_KEY</key>
	<string>AIzaSyALUGLLqG_3eBai2MiZAgyGIFFUKguQ4t4</string>
	<key>GCM_SENDER_ID</key>
	<string>495621406401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myEvents</string>
	<key>PROJECT_ID</key>
	<string>eventus-ed00f</string>
	<key>STORAGE_BUCKET</key>
	<string>eventus-ed00f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495621406401:ios:1a437c76e7cc6292ce9e40</string>
</dict>
</plist>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALUGLLqG_3eBai2MiZAgyGIFFUKguQ4t4</string>
	<key>GCM_SENDER_ID</key>
	<string>495621406401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myEvents</string>
	<key>PROJECT_ID</key>
	<string>eventus-ed00f</string>
	<key>STORAGE_BUCKET</key>
	<string>eventus-ed00f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495621406401:ios:1a437c76e7cc6292ce9e40</string>
</dict>
</plist>